{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="node-version",permission=permission) %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>
{% if permission == "guest" or permission=="operator"%}
  <div>
    <h3 id="workername">Access denied</h3>
  </div>
{% elif permission == "admin"  %}

  <div class="container-fluid columns">
    <div class="row mt-1" >
      <label class="col-sm-3" >Select access level : </label>
      <select id="access-level" class="w-200 col-sm-3">
        <option value="operator">Operator</option>
        <option value="guest">Guest</option>
      </select> 
    </div>

    <div class="row mt-1">
      <label class="col-sm-3" >User name : </label>
      <input type="text" id="user-name" class="col-sm-3"/>
    </div>

    <div class="row mt-1">
      <label class="col-sm-3" >Password : </label>
      <input type="text" id="user-password" class="col-sm-3"/>
    </div>
  
  </div>


  <button id="register-button" class="btn btn-primary" type="button" onclick="handleRegisterClick()">Register</button>
  <!-- <button id="delete-button" class="btn btn-danger" type="button" onclick="handleDeleteClick()">Delete</button> -->

  <p style="margin-top: 10%;">User list</p>

  <div class="container-fluid mt-3">
    <table style="width: 50%;"  id="user-list-table" class="w-200 table table-bordered table-striped row-border table-hover font-size:small">
      <thead>
        <tr>
          <th>User name</th>
          <th>Access level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody style="font-size: small;" id="delete-user">
        {% for user in users %}
        <tr >
          <td > {{user['name']}} </td>
          <td > {{user['level']}} </td>
          <td >
              <button style="background-color: red;" onclick="handleDeleteUserClick(this)">Delete</button>
          </td>
        </tr>
        {% end %}
      </tbody>
    </table>


{% end %}
<script>
    function handleRegisterClick() {  
      const user_name = document.getElementById("user-name").value;
      const user_password = document.getElementById("user-password").value;
      const access_level = document.getElementById("access-level").value;
      if (user_name == "" || user_password == ""){
        alert("User name or Password is invalid")
        return
      }
      fetch('register', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({action:"create" , name:user_name, pass:user_password, level:access_level })
      })
      .then(response => response.json())
      .then(data => {
          if(data.result == "failed"){
            alert(`${data.message}`)
            return
          }
          else{
            alert(`${data.message}`)
            location.reload()
          }
      })
      .catch(error => console.error('Error:', error));
  }

  function handleDeleteClick() {
    const user_name = document.getElementById("user-name").value;
    if (user_name == ""){
        alert("User name is invalid")
        return
      }
    fetch('register', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({action:"delete" ,name:user_name })
      })
      .then(response => response.json())
      .then(data => {
          if(data.result == "failed"){
            alert(`${data.message}`)
            return
          }
          else{
            alert(`${data.message}`)
            location.reload();
          }
      })
      .catch(error => console.error('Error:', error));

  }

  function handleDeleteUserClick(rowButton){
    const deleteUser = rowButton.parentElement.parentElement.cells[0].textContent.replaceAll(" ","")
    if (confirm(`Delete ${deleteUser} ?`)){
      fetch('register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({action:"delete" ,name:deleteUser })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            if(data.result == "failed"){
              alert(`${data.message}`)
              return
            }
            else{
              alert(`${data.message}`)
              location.reload();
            }
        })
        .catch(error => console.error('Error:', error));
    }
    else{
      return
    }


      
  }

</script>


{% end %}